<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Song</title>
</head>
<body>
<h1>ADD SONG</h1>

<form action="/addSong" method="post">

<label for="name">Song Name</label>
<input type="text" name="name">
<br><br>
<label for="artist">Song Artist</label>
<input type="text" name="artist">
<br><br>
<label for="genre">Song Genre</label>
<input type="text" name="genre">
<br><br>
<label for="link">Song Link</label>
<input type="text" name="link">
<br><br>
<button type="submit">Add Song</button>

</form>
</body>
</html>